@import '/src/common/mini-reset.css';
/* 타이포그라피 및 단위 */
/* 글자 크기 */
/* em - 현재 글자크기 비례(상속) */
html {
  font-size: 10px;
  @media (width > 600px) {
    font-size: 20px;
  }
  @media (width > 1200px) {
    font-size: 30px;
  }
}

.lion {
  font-size: 20px;
  color: orange;
  .like {
    font-size: 1.5em;
  }
}

.bootcamp {
  font-size: 20px;
  .like {
    font-size: 2rem;
  }
}

/* vw - 뷰포트 기준으로 계산 */
.school {
  font-weight: 700;
  .like {
    font-size: 5vw;
    color: green;
    line-height: 1.8;
  }
}
