/*박스모델*/
/*block box*/
.block {
  background-color: #ffc;
  span {
    background-color: #fcf;
    display: block;
    width: 5em;
  }
}

.like {
  background-color: #ccc;
  display: inline;
  width: 300px;
}

.bootcamp {
  background-color: #cfc;
  display: inline-block;
  width: 300px;
}

.school {
  border: 1px solid orange;
  margin: 10px;
}

.techit {
  border: 1px solid green;
  padding: 10px;
  height: 15px;
  overflow: auto;
}
